In [3]:
boston_df = read.csv('/home/jovyan/Project3/data/bostonhousing.csv', header=FALSE, sep='')

colnames(boston_df) = c('crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'black','lstat', 'medv')

In [21]:
head(boston_df,5)

  crim    zn indus chas nox   rm    age  dis    rad tax ptratio black  lstat
1 0.00632 18 2.31  0    0.538 6.575 65.2 4.0900 1   296 15.3    396.90 4.98
2 0.02731  0 7.07  0    0.469 6.421 78.9 4.9671 2   242 17.8    396.90 9.14
3 0.02729  0 7.07  0    0.469 7.185 61.1 4.9671 2   242 17.8    392.83 4.03
4 0.03237  0 2.18  0    0.458 6.998 45.8 6.0622 3   222 18.7    394.63 2.94
5 0.06905  0 2.18  0    0.458 7.147 54.2 6.0622 3   222 18.7    396.90 5.33
  medv
1 24.0
2 21.6
3 34.7
4 33.4
5 36.2

In [37]:
stats = data.frame(feature=colnames(boston_df))
stats['mean_'] = sapply(boston_df, mean)
stats['sd_'] = sapply(boston_df, sd)
stats['skewness_'] = sapply(boston_df, skewness)
stats

   feature mean_        sd_         skewness_
1  crim      3.61352356   8.6015451  5.2076524
2  zn       11.36363636  23.3224530  2.2190631
3  indus    11.13677866   6.8603529  0.2941463
4  chas      0.06916996   0.2539940  3.3957993
5  nox       0.55469506   0.1158777  0.7271442
6  rm        6.28463439   0.7026171  0.4024147
7  age      68.57490119  28.1488614 -0.5971856
8  dis       3.79504269   2.1057101  1.0087788
9  rad       9.54940711   8.7072594  1.0018335
10 tax     408.23715415 168.5371161  0.6679683
11 ptratio  18.45553360   2.1649455 -0.7999445
12 black   356.67403162  91.2948644 -2.8817983
13 lstat    12.65306324   7.1410615  0.9037707
14 medv     22.53280632   9.1971041  1.1048108

In [38]:
library(dplyr, warn.conflicts = FALSE)

In [39]:
set.seed(42)

In [40]:
sample_z = sample_n(boston_df, 5)

In [41]:
stats_sc = data.frame(feature=colnames(sample_z))
stats_sc['mean_'] = sapply(sample_z, mean)
stats_sc['sd_'] = sapply(sample_z, sd)
stats['skewness_'] = sapply(sample_z, skewness)
stats_sc

   feature mean_      sd_
1  crim      8.074658  10.2548284
2  zn        0.000000   0.0000000
3  indus    16.252000   5.0008319
4  chas      0.000000   0.0000000
5  nox       0.674000   0.1384883
6  rm        5.909000   0.8229505
7  age      77.480000  18.9517018
8  dis       2.596360   1.3230257
9  rad      16.400000  10.4067286
10 tax     537.600000 180.5389155
11 ptratio  18.980000   2.4066574
12 black   338.548000 118.4491035
13 lstat    17.856000   9.5443140
14 medv     18.380000   7.7898652

The stats vary quite a bit between the sample of 5 and the whole dataset.

In [42]:
boston_sc_df = data.frame(scale(sample_z))

In [43]:
stats_sc = data.frame(feature=colnames(boston_sc_df))
stats_sc['mean_'] = sapply(boston_sc_df, mean)
stats_sc['sd_'] = sapply(boston_sc_df, sd)
stats_sc

   feature mean_         sd_
1  crim     4.994919e-17  1
2  zn                NaN NA
3  indus    2.442491e-16  1
4  chas              NaN NA
5  nox     -3.053113e-16  1
6  rm       4.496566e-16  1
7  age      3.885781e-16  1
8  dis      1.706968e-16  1
9  rad      6.661338e-17  1
10 tax     -6.661338e-17  1
11 ptratio -2.886580e-16  1
12 black   -8.881242e-17  1
13 lstat   -1.554312e-16  1
14 medv     1.443453e-16  1

In [44]:
library(ggplot2)

In [45]:
source('multiplot.r')

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'multiplot.r': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [31]:
original_v_scaled <- function (feature) {
    original_feature <- as.vector(boston_df[[feature]])
    scaled_feature <- as.vector(boston_sc_df[[feature]])
    p1 <- qplot(original_feature, geom="histogram", bins=200, alpha=I(.4),)+
        geom_vline(aes(xintercept=mean(original_feature)), color="red", linetype="dashed", size=1)+
        geom_vline(aes(xintercept=median(original_feature)), color="blue", linetype="dashed", size=1)+
        ggtitle(paste("Original Distribution of", feature))
    p2 <- qplot(scaled_feature, geom="histogram", bins=200, alpha=I(.4),)+
        geom_vline(aes(xintercept=mean(scaled_feature)), color="red", linetype="dashed", size=1)+
        geom_vline(aes(xintercept=median(scaled_feature)), color="blue", linetype="dashed", size=1)  +
        ggtitle(paste("Scaled Distribution of", feature))  
    multiplot(p1, p2, cols=2)
}

In [32]:
original_v_scaled('crim')
original_v_scaled('zn')
original_v_scaled('indus')
original_v_scaled('chas')
original_v_scaled('nox')
original_v_scaled('rm')
original_v_scaled('age')
original_v_scaled('dis')
original_v_scaled('rad')
original_v_scaled('tax')
original_v_scaled('ptratio')
original_v_scaled('black')
original_v_scaled('lstat')
original_v_scaled('medv')

ERROR: Error in original_v_scaled("crim"): could not find function "multiplot"

heatmapping

In [ ]:
library(reshape2)
cormat = cor(boston_df)

In [ ]:
cormat[lower.tri(cormat)] <- NA

In [ ]:
melted_cormat <- melt(cormat, na.rm = T)

In [ ]:
library(ggplot2)
ggplot(data = melted_cormat, aes(Var2, Var1, fill = value))+
 geom_tile(color = "white")+
 scale_fill_gradient2(low = "blue", high = "red", mid = "white", 
   midpoint = 0, limit = c(-1,1), space = "Lab", 
   name="Pearson\nCorrelation") +
  theme_minimal()+ 
 theme(axis.text.x = element_text(angle = 45, vjust = 1, 
    size = 12, hjust = 1))+
 coord_fixed()